<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<description>deploy module configuration</description>

	<context:component-scan base-package="cn.edu.sjtu.se.dslab.haiercloud.deploy" />
	
	<bean id="deployHadoopCluster" class="cn.edu.sjtu.se.dslab.haiercloud.deploy.DeployHadoopCluster">
		<property name="shellPath" value="${hadoop.shellPath}" /> 
		<property name="jdk32Path" value="${hadoop.jdk32Path}" />
		<property name="jdk64Path" value="${hadoop.jdk64Path}" />
		<property name="hadoopPath" value="${hadoop.hadoopPath}" />
		<property name="nodesPath" value="${hadoop.nodesPath}" />
		<property name="hadoopClusterLogPath" value="${hadoop.hadoopClusterLogPath}" />
		<property name="idRsaPubFilePath" value="${hadoop.idRsaPubFilePath}" />
		<property name="userName" value="${hadoop.userName}" />
		<property name="nThreads" value="${hadoop.nThreads}" />
		<property name="tmpPath" value="${hadoop.tmpPath}" />
	</bean>
	
	<bean id="deployMongodbCluster" class="cn.edu.sjtu.se.dslab.haiercloud.deploy.DeployMongoDBCluster">
		<property name="shellPath" value="${mongodb.shellPath}" /> 
		<property name="mongoDBFilePath" value="${mongodb.mongoDBFilePath}" />
		<property name="mongoDBClusterLogPath" value="${mongodb.mongoDBClusterLogPath}" />
		<property name="mongoDBPath" value="${mongodb.mongoDBPath}" />
		<property name="nThreads" value="${mongodb.nThreads}" />
		<property name="mongodDataPath" value="${mongodb.mongodDataPath}" />
		<property name="configServerDataPath" value="${mongodb.configServerDataPath}" />
		<property name="mongosDataPath" value="${mongodb.mongosDataPath}" />
		<property name="mongoDBFileName" value="${mongodb.mongoDBFileName}" />
		<property name="mongoDBName" value="${mongodb.mongoDBName}" />
	</bean>
</beans>